* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Bai Jamjuree", sans-serif;
    line-height: 1;
    font-weight: 400;

    color: #192124;
    /* background-color: rgba(218, 147, 5, 0.07); */
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.hidden {
    display: none;
}

/************************/
/* HEADER */
/************************/
.nav-row {
    width: 100%;
    border-bottom: 1px solid rgba(19, 42, 30, 0.07);
}

.nav {
    max-width: 144rem;
    margin: 0 auto;
    padding: 2.4rem 0;
    color: #132a1e;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-content {
    font-size: 1.6rem;
    letter-spacing: 0.15rem;
    font-weight: 500;
}

.nav-logo {
    font-size: 2.4rem;
    letter-spacing: 0.35rem;
}

.header {
    width: 100%;
    max-width: 144rem;
    margin: 0 auto;
    padding: 4rem 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.line {
    width: 240px;
    height: 1px;

    background-color: #132a1e;
    border-radius: 100px;
}

.logo {
    font-weight: 500;
    font-size: 4.8rem;
    color: #132a1e;
    letter-spacing: 0.55rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.logo span {
    font-size: 3.6rem;
}

.logo-text {
    font-size: 1.6rem;
    letter-spacing: -0.03rem;
    align-self: flex-end;
    padding-right: 0.8rem;
}

/************************/
/* TIMER */
/************************/
.main {
    max-width: 144rem;
    height: 100%;
    margin: 0 auto;
    padding: 3.2rem 0;
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    justify-items: center;
    align-items: center;
    /* column-gap: 2rem; */
}

.timer {
    width: 100%;
    font-weight: 500;

    position: relative;
}

.timer-clock {
    display: flex;

    width: 400px;
}

/* .countdown-time {
    font-size: 16rem;
    align-self: center;
}

.countdown-remain {
    font-size: 2rem;
    align-self: center;
} */

.timer-clock__svg {
    transform: scaleX(-1);
}

.timer-clock__circle {
    stroke-dashoffset: 0px;
    stroke-width: 3px;
    stroke: #000;
    fill: none;
}

.timer-icon {
    cursor: pointer;
}

.ph-gear,
.ph-dots-three-bold {
    font-size: 3.2rem;

    position: absolute;
}

.ph-gear {
    top: 0;
    left: 0;
}

.ph-dots-three-bold {
    top: 0;
    right: 0;
}

.timer-btn {
    cursor: pointer;
    border: none;
    font-size: 1.5rem;
    text-align: center;
    border-radius: 3px;
    color: #fff;
    background-color: #475569;
}

.btn--pause,
.btn--reset {
    width: 7.4rem;
    height: 7.4rem;
    border-radius: 50%;

    position: absolute;
}

.btn--pause {
    bottom: 0;
}

.btn--reset {
    bottom: 0;
    right: 0;
}

/************************/
/* FOOTER */
/************************/
.footer {
    width: 100%;

    position: relative;
}

.footer-bg {
    width: 100%;
    height: 135%;
    background-image: url(assets/bg-img.png);
    background-size: cover;

    position: absolute;
    right: 0;
    bottom: 0;

    z-index: -1;
}

.footer-content {
    width: 40rem;
    margin: 0 auto;
    padding: 2.4rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 500;
    border-top: 1px solid rgba(19, 42, 30, 0.07);
}

.footer-logos {
    display: flex;
    gap: 1rem;
    margin-top: 2.4rem;
}

.footer-logo {
    width: 2.5rem;
}

.footer-feedback {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

/* .test {
    width: 200px;
    height: 200px;
    background-color: #475569;
} */

/* 
- SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 40 / 64 / 80 / 96 / 128

- FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 

- COLORS
#fff
#475569
#132a1e
#DCF4EC
#EAF8F6

- LETTER SPACING
-0.03rem
0.15rem
0.35rem
0.55rem

*/ ;
