img.bg-img(src='./assets/bg-img.png' alt='background image')
footer.footer.flex
    p.line.line--footer
    p.footer-follow follow us
    .footer-logos.grid
        //- a.footer-logo(href='#')
        //-     img(src='./assets/icons_socials/color_instagram.svg')
        //- a.footer-logo(href='#')
        //-     img(src='./assets/icons_socials/color_hackernews.svg')
        a.footer-logo(href='https://github.com/startercode-dev/interval-app' target='_blank')
            img(src='./assets/icons_socials/color_github.svg')
        //- a.footer-logo(href='#')
        //-     img(src='./assets/icons_socials/color_dev_to.svg')
        //- a.footer-logo(href='#')
        //-     img(src='./assets/icons_socials/color_twitter.svg')
    p.footer-feedback feedback?
