img.bg-img(src='./assets/bg-img.png' alt='background image')
footer.footer.flex
    p.line.line--footer
    p.footer-follow follow us
    .footer-logos.grid
        .footer-logo(href='#')
            img(src='./assets/icons_socials/color_instagram.svg')
        .footer-logo(href='#')
            img(src='./assets/icons_socials/color_hackernews.svg')
        .footer-logo(href='#')
            img(src='./assets/icons_socials/color_github.svg')
        .footer-logo(href='#')
            img(src='./assets/icons_socials/color_dev_to.svg')
        .footer-logo(href='#')
            img(src='./assets/icons_socials/color_twitter.svg')
    p.footer-feedback feedbacks?
