section.infos.grid
    p.info--title HIIT custom 2
    .line.line--info
    p.info.total-time
        | total time: 
        span 2:30
    p.info.total-exercises
        | exercise: 
        span 3/5
    p.info.total-sets
        | set: 
        span 1/5