extends base

block body  
    .container
        .container--nav
            nav.nav.flex
                a.nav-about(href='https://github.com/startercode-dev/interval-app/blob/master/README.md') about
                h1.nav-logo interval
                if user 
                    .nav-dropdown
                        a.nav-user= user.name
                        .dropdown-content
                            a.dropdown--account(href='/me') my account 
                            a.dropdown--logout logout  
                else 
                    a.nav-signup(href='/signup') sign up

        .container--banner
            .banner.flex
                p.line.line--banner
                .logo
                    p.logo-img
                        | interval
                        span .app
                    .logo-endorsement.flex
                        p.endorsement--text powered by
                        a.endorsement--logo(href='#')
                            img(src='/assets/startercode-logo.png' alt='starter code logo')
                p.line.line--banner

        .container--main
            main.main.grid
                include _setting
                include _timer
                include _infos

        .container--footer
            include _footer