* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Bai Jamjuree', sans-serif;
    line-height: 1;
    font-weight: 400;

    color: #132a1e;
    background-color: #f7f7f7;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 400;
    line-height: 1.3;
}

a:link,
a:visited,
a:hover {
    text-decoration: none;
    color: #132a1e;
}

.container {
    width: 100vw;
    height: 100vh;
    height: -webkit-fill-available;

    display: flex;
    flex-direction: column;
}

.btn {
    font-family: inherit;
    cursor: pointer;
    border: none;
    text-align: center;
    border-radius: 3px;
    color: #f7f7f7;
}

.btn:disabled {
    background-color: #717a87;
    cursor: default;
}

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.center {
    justify-content: center;
}

.grid-extend {
    grid-column: 1/-1;
}

.grid {
    display: grid;
}

.hidden {
    display: none;
}

.active {
    display: block !important;
}

.ma-bt-md {
    margin-bottom: 3rem !important;
}

.ma-bt-lg {
    margin-bottom: 3.5rem !important;
}

.right {
    text-align: right !important;
}

.heading-secondary {
    font-size: 2.25rem;
    text-transform: uppercase;
    font-weight: 700;
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        from(#7dd56f),
        to(#28b487)
    );
    background-image: linear-gradient(to right, #7dd56f, #28b487);
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: 0.1rem;
    line-height: 1.3;
    display: inline-block;
}

/************************/
/* CONTAINER FLEX */
/************************/
.container--nav {
    flex: 0;
    border-bottom: 1px solid rgba(19, 42, 30, 0.07);
}
.container--banner {
    flex: 0.8;
}
.container--main {
    flex: 2;
}
.container--footer {
    flex: 1;
    position: relative;
}

/************************/
/* MISC. */
/************************/
.bg-img {
    width: 100%;
    height: 30vh;

    position: absolute;
    right: 0;
    bottom: 0;

    z-index: -1;
}

.input::placeholder {
    color: #d4d4d4;
}
.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.input[type='number'] {
    -moz-appearance: textfield;
}

.account-main,
.error-main,
.login-main,
.signup-main {
    background-color: #f7f7f7;
    padding: 8rem 6rem;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    position: relative;
}
