/* 1rem = 1em = 16px */

/*************************/
/* Above 1344px HEIGHT */
/*************************/
@media (min-height: 72em) {
    .logo {
        padding: 0 6rem;
        font-size: 6.236rem;
    }
}

/*************************/
/* Above 2560px */
/*************************/
@media (min-width: 160rem) {
    .nav {
        margin: 0 30%;
    }

    .banner {
        margin: 0 30%;
    }
}

/*************************/
/* Below 1344px */
/*************************/
@media (max-width: 84rem) {
    .main {
        column-gap: 2.6rem;
    }

    /* TIMER */
    .timer-clock {
        width: 36rem;
        height: 36rem;
    }

    .timer-clock__label {
        font-size: 11rem;
        letter-spacing: 0.35rem;
    }

    .btn--pause,
    .btn--resume,
    .btn--reset {
        width: 7rem;
        height: 7rem;
        bottom: -18px;

        font-size: 1.318rem;
        letter-spacing: 0.15rem;
    }

    .timer-clock__remain {
        top: 100%;
        transform: translate(-50%, 0);
    }

    /* TABS */
    .tabs-component {
        width: 32rem;
        height: 38rem;
    }

    .tabs-content {
        padding: 2.4rem;
    }

    .edit-saved {
        margin-top: 2rem;
        font-size: 1.518rem;
    }

    .btn--login {
        font-size: 1.418rem;
    }

    /* CUSTOM */
    .input-form {
        column-gap: 2.2rem;
        row-gap: 0.6rem;
    }

    .input--label {
        font-size: 1.518rem;
    }

    .input {
        width: 4rem;
        height: 2.5rem;
    }

    .input__title {
        width: auto;
    }

    .input__title-update {
        width: 100%;
    }

    .input::placeholder {
        font-size: 1.318rem;
    }

    .btn--save__submit,
    .btn--update,
    .btn--start {
        height: 3.918rem;
        font-size: 1.618rem;
        margin-top: 1rem;
    }

    .btn--save {
        margin-top: 0.1rem;
        font-size: 1.518rem;
    }

    /* SAVED */
    .preset--time {
        font-size: 1.418rem;
    }

    .ph-trash,
    .ph-pencil {
        font-size: 1.518rem;
    }

    .preset--title {
        font-size: 1.518rem;
    }

    /* INFO */
    .infos {
        font-size: 1.8rem;
    }

    .info--title {
        font-size: 2.618rem;
    }
}

/*************************/
/* Below 1104px */
/*************************/
@media (max-width: 69em) {
    /* MAIN */
    .main {
        column-gap: 0;
        /* grid-template-columns: 1fr; */
        padding-bottom: 3rem;
    }

    .ph-gear-six,
    .ph-dots-three-outline {
        display: block !important;
    }

    .settings,
    .infos {
        display: none;
    }

    .settings {
        transform: translate(37rem, 5rem);
        z-index: 10;
        opacity: 0.98;
        box-shadow: 0px 8px 20px rgb(0 0 0 / 20%);
    }

    .timer-clock {
        width: 43rem;
        height: 43rem;
    }

    .timer-clock__label {
        font-size: 14rem;
        letter-spacing: 0.4rem;
    }

    .btn--pause,
    .btn--resume,
    .btn--reset {
        width: 8rem;
        height: 8rem;
        bottom: -32px;

        font-size: 1.718rem;
        letter-spacing: 0.15rem;
    }

    .timer-clock__remain {
        transform: translate(-50%, 0);
    }

    .timer-infos {
        display: block;
    }
}

/*************************/
/* Below 704px */
/*************************/
@media (max-width: 44em) {
    /* BANNER */
    .line--banner {
        display: none;
    }

    .signup-main,
    .login-main {
        padding: 8rem 4rem;
    }

    .signup-form,
    .login-form {
        width: 36.5rem;
        padding: 5rem 5rem !important;
    }

    .heading-secondary {
        font-size: 2rem;
    }

    .login-form__label,
    .login-form__input {
        font-size: 1.5rem;
    }

    .btn-auth-forgot_password {
        font-size: 1.3rem !important;
        padding: 0.2rem 1.7rem !important;
    }
    .btn-auth-back.btn--small {
        font-size: 1.2rem !important;
        padding: 1.4rem 3rem !important;
    }
}

/*************************/
/* Below 480x */
/*************************/
@media (max-width: 30em) {
    /* NAV */
    .nav-logo {
        font-size: 2.118rem;
        letter-spacing: 0.35rem;
        padding: 0 3rem;
    }

    .nav-about,
    .nav-signup {
        font-size: 1.118rem;
    }

    /* BANNER */
    .logo {
        padding: 0;
    }

    /* TIMER */
    .timer-clock {
        width: 32rem;
        height: 32rem;
    }

    .timer-clock__label {
        font-size: 10rem;
        letter-spacing: 0.4rem;
    }

    .btn--pause,
    .btn--resume,
    .btn--reset {
        width: 6rem;
        height: 6rem;
        bottom: -20px;

        font-size: 1.318rem;
        letter-spacing: 0.15rem;
    }

    .timer-clock__remain {
        font-size: 1.618rem;
        transform: translate(-50%, 0);
    }

    /* FOOTER */
    .footer {
        margin: 1.6rem 0 0;
    }

    /* AUTH */
    .signup-main,
    .login-main {
        padding: 8rem 2rem;
    }

    .signup-form,
    .login-form {
        width: 30rem;
        margin: 0 auto;
        padding: 2rem 3rem !important;
    }

    .heading-secondary {
        font-size: 2rem;
    }

    .login-form__label,
    .login-form__input {
        font-size: 1.5rem;
    }

    .btn-auth-forgot_password {
        font-size: 1rem !important;
        padding: 0.2rem 1.7rem !important;
    }
    .btn-auth-back.btn--small {
        font-size: 1rem !important;
        padding: 1.4rem 3rem !important;
    }
}

/*************************/
/* Below 800px HEIGHT */
/*************************/
@media (max-height: 50em) {
    /* BANNER */
    .banner {
        padding: 1.6rem 0 0;
    }

    .logo,
    .logo span {
        font-size: 2.618rem;
    }

    .logo-endorsement {
        font-size: 1.118rem;
    }

    .endorsement--logo img {
        width: 6rem;
    }

    /* FOOTER */
    .footer {
        font-size: 1.3rem;
    }

    .footer-logos {
        margin-top: 1.118rem;
        gap: 0.6rem;
    }
}
