/************************/
/* POP UPS */
/************************/
.alert_box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);

    font-size: 1.6rem;
    border-radius: 1rem;

    z-index: 99;
    padding: 3rem;
    background: #f7f7f7;
    flex-direction: column;
    align-items: center;
    text-align: center;

    transform: translate(-50%, -50%) scale(0.97);
    transition: all 0.3s ease;
}

.alert_box header {
    font-size: 2.6rem;
    font-weight: 500;
    margin: 10px 0;
}

.alert-btns {
    margin-top: 20px;
}

.delete-confirm {
    width: 8rem;
    background-color: #9d2c24;
    padding: 1rem;
}

.delete-cancel {
    width: 8rem;
    padding: 1rem;
    margin-left: 1rem;
    color: #132a1e;
    background-color: #f7f7f7;
    border: solid 1px #132a1e;
}

/************************/
/* NAV */
/************************/
.nav {
    margin: 0 20%;
    height: 6rem;

    justify-content: space-evenly;
    align-items: center;
}

.nav a:link,
.nav a:visited {
    text-decoration: none;
    color: #132a1e;
}

.nav-about,
.nav-signup,
.nav-user {
    font-size: 1.618rem;
    letter-spacing: 0.25rem;
    font-weight: 400;
    min-width: max-content;
    cursor: pointer;
}

.nav-dropdown {
    position: relative;
    display: inline-block;
}

.dropdown--logout {
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f7f7f7;
    min-width: 160px;
    font-size: 1.5rem;
    top: 1.8rem;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.nav-dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content a:hover {
    background-color: #efefef;
}

.dropdown-content a {
    color: #132a1e;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.nav-logo {
    font-size: 2.618rem;
    letter-spacing: 0.35rem;
    padding: 0 6rem;
    font-weight: 500;
}

/************************/
/* BANNER */
/************************/
.banner {
    height: 100%;
    margin: 0 20%;
    padding: 3.2rem 0;

    justify-content: space-evenly;
    align-items: center;
}

.line {
    width: 24rem;
    height: 1px;

    background-color: #132a1e;
    border-radius: 100px;
}

.logo {
    font-weight: 600;
    font-size: 4.236rem;
    letter-spacing: 0.55rem;
    padding: 0 6rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 0.2rem;
}

.logo span {
    font-size: 2.618rem;
}

.logo-endorsement {
    align-self: flex-end;
    font-size: 1.618rem;
    letter-spacing: 0;

    align-items: center;
    /* gap: 0.3rem; */
    padding-right: 0.5rem;
}

.endorsement--logo img {
    width: 9rem;
    /* filter: grayscale(100%); */
}

/************************/
/* MAIN*/
/************************/
.main {
    padding-bottom: 3.2rem;

    grid-template-columns: 2fr 1fr 2fr;
    justify-items: center;
    align-items: start;
    column-gap: 6.4rem;
}

/************************/
/* SETTINGS CONTAINER */
/************************/
.settings {
    justify-self: end;
    align-self: start;
    transform: translateY(0.7rem);

    box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.12);
    border-radius: 1rem;
    overflow: hidden;
}

.tabs-component {
    height: 42rem;
    width: 38rem;
    flex-direction: column;
    font-size: 1.618rem;

    background-color: #ececec;
}

.tabs-head {
    justify-content: space-between;
}

.tabs-body {
    flex: 1;
}

.tabs--tab {
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-weight: 300;

    width: 100%;
    height: 5rem;

    box-shadow: inset 0px -5px 6px rgba(0, 0, 0, 0.03);
}

.tabs-content {
    display: none;
    height: 100%;
    width: 100%;
    align-self: center;
    padding: 3.2rem;
}

.tabs--tab.is-active,
.tabs-content.is-active {
    font-size: 1.918rem;
    box-shadow: none;
    font-weight: 500;
    background-color: #f7f7f7;
}

.tabs--tab.is-active {
    color: #368c54;
    border-top: 2px solid #44af69;
}

.tabs-content.is-active {
    display: block;
}

.tab--saved {
    border-top-left-radius: 1rem;
}
.tab--custom {
    border-top-right-radius: 1rem;
}

/************************/
/* SETTINGS TAB SAVED */
/************************/
.saved-preset {
    height: 100%;
    list-style: lower-greek;
    font-weight: 400;
    letter-spacing: 0.1rem;

    row-gap: 2.6rem;
    align-items: end;
}

.preset {
    height: max-content;
    justify-content: space-between;
    align-items: flex-end;
}

.preset--title {
    cursor: pointer;
}

.preset--time {
    cursor: pointer;
    font-weight: 300;
    font-size: 1.618rem;
}

.setting-icons {
    cursor: pointer;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
}

.edit-saved {
    cursor: pointer;
    background-color: inherit;
    color: #132a1e;
    letter-spacing: 0.1rem;
    font-size: 1.618rem;
    font-weight: 500;
    width: max-content;

    border: none;
    text-align: center;
    justify-self: center;

    margin-top: 5rem;
    padding-bottom: 0.3rem;
    /* border-bottom: 1px solid #132a1e; */
}

/************************/
/* SETTINGS TAB CUSTOM */
/************************/
.save-preset-form {
    grid-template-columns: 2fr 3fr;
    align-items: center;
    justify-items: end;
    row-gap: 1rem;
}

.update-preset-form,
.input-form {
    height: 100%;
    width: 100%;
    grid-template-columns: 4fr 1fr;
    justify-items: end;
    align-items: center;
    column-gap: 2rem;
    row-gap: 0.7rem;
}

.input--label__text {
    grid-column: 1/-1;
    justify-self: start;
}
.input--label {
    font-size: 1.818rem;
    letter-spacing: 0.05rem;
    font-weight: 500;
}
.input--label span {
    color: #132a1edd;
    font-size: 1.118rem;
}

.input {
    border: none;
    box-shadow: inset 0px 0px 2px rgba(68, 175, 105, 0.7);
    border-radius: 3px;
    text-align: center;

    color: #132a1e;
    font-weight: 400;
    font-size: 1.618rem;
    letter-spacing: 0.05rem;

    background-color: #fcfdfe;
    width: 5rem;
    height: 3rem;
}

.input__title {
    width: auto;
    height: 3rem;
}

.input__title-update {
    width: 100%;
    grid-column: 1/-1;
}

.btn--update,
.btn--save__submit,
.btn--start {
    margin-top: 1rem;
    font-size: 1.618rem;
    letter-spacing: 0.15rem;
    height: 4.236rem;

    background-color: #44af69;
    width: 100%;
    grid-column: 1/-1;
}
.btn--start {
    font-size: 1.8rem;
}

.btn--update {
    background-color: #f7f7f7;
    color: #368c54;
    font-weight: 500;
    border: solid 1px #44af69;
}

.login-box {
    width: 100%;
}

.btn--update__back {
    margin-top: 0.4rem;
}

.btn--update__back,
.btn--back {
    grid-column: 1/-1;
}

.btn--update__back,
.btn--back,
.btn--save,
.btn--login,
.btn--login_text {
    color: #132a1e;
    background-color: inherit;
    font-size: 1.518rem;
    letter-spacing: 0.1rem;
    width: max-content;
    font-weight: 500;

    /* grid-column: 1/-1; */
    /* align-self: center; */
    justify-self: center;

    /* margin-top: 2rem; */
    padding-bottom: 0.3rem;
    border-radius: 0;
    border-bottom: 1px solid #132a1e00;
}

.btn--login:link,
.btn--login:visited {
    text-decoration: none;
}

.btn--login:hover {
    border-bottom: 1px solid #132a1e;
}

.btn--save {
    font-size: 1.618rem;
}

.btn--login_text {
    padding-left: 0.6rem;
}

/************************/
/* TIMER */
/************************/
.timer {
    font-weight: 500;
    grid-column: 2/3;
    position: relative;
}

.timer-clock {
    width: 42rem;
    height: 42rem;
}

.timer-clock__status,
.timer-clock__label,
.timer-clock__remain {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.timer-clock__status {
    font-size: 1.9rem;
    top: 28%;
}

.timer-clock__label {
    font-size: 13rem;
    letter-spacing: 0.45rem;
}

.timer-clock__remain {
    font-size: 1.818rem;
    letter-spacing: 0.15rem;
    top: 102%;
}

.timer-clock__svg {
    transform: scaleX(-1);
}

.timer-clock__circle {
    fill: none;
}

.timer-clock__path-total {
    stroke-width: 3px;
    stroke: #dcf4ec;
}

.timer-clock__path-remaining {
    stroke-width: 3px;
    stroke-linecap: round;

    transform: rotate(90deg);
    transform-origin: center;

    stroke: #89d2a3;

    stroke-dasharray: 190 283;
}

.animation {
    animation: circle var(--time) linear forwards;
}

@keyframes circle {
    from {
        stroke-dasharray: 283 283;
    }
    to {
        stroke-dasharray: 0 283;
    }
}

.timer-icon {
    cursor: pointer;
    position: absolute;
    top: 0;
}

.ph-trash {
    color: #9d2c24;
}

.ph-gear-six,
.ph-dots-three-outline {
    font-size: 3.2rem;
    display: none !important;
}

.ph-gear-six {
    left: 2px;
}

.ph-dots-three-outline {
    right: 12px;
}

.timer-infos {
    font-size: 1.6rem;
    letter-spacing: 0.15rem;

    position: absolute;
    bottom: 30%;
}
.timer-info-exercise {
    left: 20%;
}
.timer-info-set {
    right: 20%;
}

.btn--pause,
.btn--resume,
.btn--reset {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;

    font-size: 1.618rem;
    letter-spacing: 0.15rem;
    text-align: center;

    position: absolute;
    bottom: -25px;
    right: 0;
}

.btn--pause {
    background-color: #f7d633;
    color: #132a1e;
    left: 0;
}
.btn--pause:disabled {
    color: #f7f7f7;
}

.btn--resume {
    background-color: #44af69;
    left: 0;
}

.btn--reset {
    background-color: #a7413a;
}

/************************/
/* INFOS */
/************************/
.infos {
    font-size: 2.2rem;
    letter-spacing: 0.15rem;
    /* padding: 0 2rem 2rem; */

    gap: 1rem;
    justify-self: start;
    align-self: start;
    transform: translateY(0.7rem);
}

.info--title {
    font-size: 3.018rem;
    font-weight: 500;
}

.line--info {
    width: 60%;
    margin-bottom: 1.2rem;
}

.info {
    padding-left: 1rem;
    border-left: 1px solid #132a1e;
}

/************************/
/* FOOTER */
/************************/
.footer {
    margin: 1.6rem 5rem 0;
    font-size: 1.618rem;
    font-weight: 500;

    flex-direction: column;
    align-items: center;
    gap: 0.6rem;
}

.footer-follow {
    margin-top: 1.6rem;
    letter-spacing: 0.15rem;
}

.footer-logos {
    margin-top: 0.9rem;
    grid-template-columns: repeat(5, 1fr);
    gap: 1.6rem;
}

.footer-logo {
    width: 2.618rem;
    height: 2.618rem;
}

.footer-feedback {
    letter-spacing: 0.2rem;
    margin-top: 1.8rem;
    padding-bottom: 3.2rem;
}

.line--footer {
    width: 18rem;
    background-color: rgba(30, 41, 59, 0.2);
}

/************************/
/* ERROR WEB PAGE */
/************************/
.error {
    position: absolute;
    top: 35%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    max-width: 80rem;
    text-align: center;
}
.error__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 1rem;
}
.error__emoji {
    font-size: 3.75rem;
    margin-left: 1rem;
}
.error__msg {
    font-size: 2.5rem;
    font-weight: 700;
    max-width: 50rem;
    margin: 0 auto;
}

.heading-secondary--error {
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        from(#ff7730),
        to(#eb4d4b)
    );
    background-image: linear-gradient(to right, #ff7730, #eb4d4b);
    font-size: 3.5rem;
}

/* 
- SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 40 / 64 / 80 / 96 / 128

- FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 
11.089rem
6.854rem
4.236rem
2.618rem
1.618rem
0.618rem

- LETTER SPACING (rem)
0.05rem
0.1rem
0.15rem
0.2rem

- COLORS
#f7f7f7
#ececec
#132a1e

#EAF8F6
#DCF4EC
#89d2a3
#44af69
#368c54

#717a87
#475569
#9d2c24


*/
